* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.conmtiner_my {
  margin: 0 auto;
  width: 1320px;
  padding: 0 10px;
}

.gap-24 {
  gap: 24px;
}

@font-face {
  font-family: "Roboto" sans-serif;
  src: url("../Jost_Roboto/Jost/Jost-Italic-VariableFont_wght.ttf");
}
.conmtiner_my {
  margin: 0 auto;
  width: 1320px;
  padding: 0 10px;
}

ul {
  list-style: none;
}

.navigation_a {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 1.4px;
}

.conmtiner_my {
  margin: 0 auto;
  width: 1320px;
  padding: 0 10px;
}

ul {
  list-style: none;
}

.systema {
  background: url(../img/first_fon_img.svg);
  padding: 188px 0 197px;
  text-align: center;
}
.systema h1 {
  font-weight: 900;
  font-size: 31px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1.4px;
  margin-bottom: 12px;
  color: #fff;
}
.systema p {
  font-weight: 700;
  font-size: 21px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  margin-bottom: 28px;
  color: #fff;
}
.systema a {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.4px;
}

.desing {
  padding: 80px 479px;
  text-align: center;
}
.desing h1 {
  font-weight: 400;
  font-size: 43px;
  line-height: 58px;
}
.desing p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.desing a {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #000;
}

.conmtiner_my {
  margin: 0 auto;
  width: 1320px;
  padding: 0 10px;
}

.work {
  gap: 25px;
}
.work img {
  margin-bottom: 48px;
}
.work h1 {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 27px;
  line-height: 30px;
}
.work a {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #000;
}

.gajet .text_my h2 {
  font-weight: 400;
  font-size: 33px;
  line-height: 36px;
  margin-bottom: 16px;
}
.gajet .text_my p {
  margin-bottom: 52px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #a0a0a0;
}
.gajet .text_my ul {
  gap: 16px;
}
.gajet .text_my ul li {
  list-style: none;
  width: 7px;
  height: 7px;
  background-color: #000;
}

.conmtiner_my {
  margin: 0 auto;
  width: 1320px;
  padding: 0 10px;
}

.officc ul {
  list-style: none;
}
.officc ul li img {
  margin-bottom: 23px;
}
.officc ul li p {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.7px;
  color: #a0a0a0;
}

.mb_95 {
  margin-bottom: 95px;
}

.conmtiner_my {
  margin: 0 auto;
  width: 1320px;
  padding: 0 10px;
}

.mack {
  background-image: url(../img/mack_img.svg);
  padding: 174px 0 185px;
  margin-bottom: 116px;
}
.mack h2 {
  font-weight: 400;
  font-size: 66px;
  line-height: 70px;
  color: #fff;
}
.mack p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.8px;
}
.mack a {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.4px;
}

.gard_way h2 {
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 23px;
}
.gard_way p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a0a0a0;
  display: inline-block;
  width: 777px;
  margin-bottom: 23px;
}
.gard_way img {
  display: inline-block;
  margin-bottom: 23px;
}

.conmtiner_my {
  margin: 0 auto;
  width: 1320px;
  padding: 0 10px;
}

.make_worck ul {
  justify-content: center;
}
.make_worck h2 {
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
}
.make_worck p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  color: #a0a0a0;
  width: 789px;
  margin-bottom: 79px;
}

.mb_124 {
  margin-bottom: 124px;
}

.we_hope {
  padding: 120px 0;
}
.we_hope h2 {
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 44px;
}
.we_hope p {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 240px;
}
.we_hope .box_text {
  padding: 120px 0 120px 0;
}
.we_hope .box_text img {
  margin-bottom: 24px;
}
.we_hope .box_text h3 {
  font-weight: 400;
  font-size: 43px;
  line-height: 58px;
  color: #fff;
  margin-bottom: 23px;
}
.we_hope .box_text p {
  margin: 0;
  color: #fff;
}

.conmtiner_my {
  margin: 0 auto;
  width: 1320px;
  padding: 0 10px;
}

.footer ul {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
}
.footer .footer_ul_1 li a {
  font-weight: 600;
  font-size: 23px;
  line-height: 24px;
  color: #000;
  display: inline-block;
  margin-bottom: 16px;
}
.footer .footer_ul_2 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.8px;
  margin-bottom: 81px;
  width: 348px;
  color: #a0a0a0;
}
.footer .footer_ul_2 h4 {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}
.footer .footer_ul_2 input {
  width: 320px;
  border: none;
  border-bottom: 1px solid #000;
}

.end ul {
  list-style: none;
}
.end a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.8px;
  color: #707a7f;
}

/*# sourceMappingURL=style.css.map */
