.conmtiner_my {
    margin: 0 auto;
    width: 1320px;
    padding: 0 10px;
}
.footer {
    ul {
        list-style: none;
        li {
            a {
                text-decoration: none;
            }
        }
    }
    .footer_ul_1 {
        li {
            a {
                font-weight: 600;
                font-size: 23px;
                line-height: 24px;
                color: #000;
                display: inline-block;
                margin-bottom: 16px;
            }
        }
    }
    .footer_ul_2 {
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.8px;
            margin-bottom: 81px;
            width: 348px;
            color: #a0a0a0;
        }
        h4 {
            margin-bottom: 23px;
            font-weight: 700;
            font-size: 22px;
            line-height: 24px;
        }
        input {
            width: 320px;
            border: none;
            border-bottom: 1px solid #000;
        }
    }
}
.end {
    
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.8px;
        color: #707a7f;
    }
}
