.conmtiner_my {
    margin: 0 auto;
    width: 1320px;
    padding: 0 10px;
}
.make_worck {
    ul {
        justify-content: center;
    }
    h2 {
        font-weight: 400;
        font-size: 34px;
        line-height: 36px;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: inline-block;
        color: #a0a0a0;
        width: 789px;
        margin-bottom: 79px;
    }
}
.mb_124 {
    margin-bottom: 124px;
}
.we_hope {
    padding: 120px 0;
    h2 {
        font-weight: 400;
        font-size: 34px;
        line-height: 36px;
        margin-bottom: 44px;
    }
    p {
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 240px;
    }
    .box_text {
        padding: 120px 0 120px 0;
       img{
        margin-bottom: 24px;
       }
        h3 {
            font-weight: 400;
            font-size: 43px;
            line-height: 58px;
            color: #fff;
            margin-bottom: 23px;
        }
        p {
            margin: 0;
            color: #fff;
        }
    }
}
