.conmtiner_my {
    margin: 0 auto;
    width: 1320px;
    padding: 0 10px;

}
.officc {
    ul {
        list-style: none;
        li {
            img {
                margin-bottom: 23px;
            }
            p {
                font-weight: 400;
                font-size: 13px;
                line-height: 21px;
                letter-spacing: 0.7px;
                color: #a0a0a0;
            }
        }
    }
}
.mb_95 {
    margin-bottom: 95px;
}
